iframe{
    display: block;
    width: 100%;
    height: 230px;
    border: 1px solid;
}
.wrap-app{
    cursor: pointer;
    transition: color 0.2s;
    font-size: 21px;
}

.wrap-app:hover{
    color: red;
}

button{
    cursor: pointer;
}